/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0px;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  color: #ffffff;
  font-family: 'Bree Serif';
}

.boxes-bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

.heading {
  color: #0f172a;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
}

.small-bg-color {
  background-color: #fbbf24;
  height: 100px;
  width: 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.medium-bg-color {
  background-color: #38bdf8;
  height: 160px;
  width: 160px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.large-bg-color {
  background-color: #ec4899;
  height: 250px;
  width: 250px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .boxes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .boxes-bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
